<section class="running-map"
         fxLayout="row"
         fxLayout.lt-sm="column"
         fxLayoutAlign.lt-sm=" center"
         fxLayoutAlign="center "
         fxLayoutGap="24px"
         fxFlex>
  <google-map height="80vh"
              width="100%"
              [zoom]="zoom"
              [center]="center"
              [options]="options"
              (mapClick)="addMarker($event)">
    <map-marker *ngIf="marker"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.options">
    </map-marker>
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [options]="marker.options">
    </map-marker>

    <map-polyline *ngIf="route" [options]="polylineOptions"></map-polyline>
  </google-map>


  <mat-card class="running-form" fxLayout="column">
    <mat-card-title>
      Let's get plotting
    </mat-card-title>
    <mat-card-subtitle>
     Click on the map to plotting your running route
    </mat-card-subtitle>
    <img class="route-image"
         src="../../../assets/img/route-solid.svg"
         alt="Training Illustration">
    <mat-card-content fxLayoutAlign="center">
      <form [formGroup]="addRunForm"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="16px">
        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="time to the closest minute"
            formControlName="time"
            required>
          <mat-hint>Please enter the time taken </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="distance in km"
            formControlName="distance"
            required>
          <mat-hint>Please enter the distance run</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input
            type="number"
            aria-label="calories"
            matInput
            placeholder="calories in kcal"
            formControlName="calories"
            required>
          <mat-hint>Please enter the calories burned</mat-hint>
        </mat-form-field>

        <mat-checkbox
          required
          formControlName="route"
          [checked]="route.length>1"
          [disabled]="route.length<2">
          Route has been added to map
        </mat-checkbox>

      </form>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button
              type="submit"
              (click)="saveRoute()"
      [disabled]="addRunForm.invalid">
        Save Route
      </button>
      <button mat-button
      (click)="reset()">
        Reset Route
      </button>
      <button mat-button
              (click)="cancel()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>

</section>



