google-map {
  width: 50%;
}

.map {
  margin: 24px;
}

.mat-list-item:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.scroll {
  overflow-y: scroll;
}

.running-list {
  height: 524px;
}

.fixed {
  position: fixed;
}
