<mat-tab-group *ngIf="!(ongoingTraining$ | async) && !(loggingRun$ | async)">
  <mat-tab label="New Exercise">
    <section label="Available Exercises"
             fxLayout="row"
             fxLayout.lt-md="column"
             fxLayoutGap.lt-md="10px"
             fxFill
             fxLayoutAlign="center "
             fxLayoutGap="24px">
      <app-new-training></app-new-training>
      <app-new-run (showMap)="gotToMap($event)"></app-new-run>
    </section>
  </mat-tab>
  <mat-tab label="Past Exercises">
    <app-past-trainings></app-past-trainings>
  </mat-tab>
  <mat-tab label="Past Runs">
    <app-past-runs></app-past-runs>
  </mat-tab>
</mat-tab-group>

<app-current-training *ngIf="!(loggingRun$ | async) && ongoingTraining$ | async"></app-current-training>

<app-map *ngIf="!(ongoingTraining$ | async) && loggingRun$ | async"></app-map>
