/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin:0;
}

/*h1 {*/
/*  font: 600 36px/42px 'Roboto', sans-serif !important;*/
/*  margin: 0;*/
/*}*/

/*h2 {*/
/*  font: 600 28px/36px 'Roboto', sans-serif !important;*/
/*  margin: 0;*/
/*}*/

/*h3 {*/
/*  font: 500 20px/40px 'Roboto', sans-serif !important;*/
/*  margin: 0;*/
/*}*/

/*h4 {*/
/*  font: 400 14px/28px 'Roboto', sans-serif !important;*/
/*  margin: 0;*/
/*}*/

/*p {*/
/*  font: 100 12px/16px 'Roboto', sans-serif !important;*/
/*  margin: 4px 0;*/
/*}*/
