<section class="new-training" fxLayout fxLayoutAlign="center">

  <form (ngSubmit)="onStart(exerciseForm)" #exerciseForm="ngForm">
    <mat-card fxFlex="400px">

      <mat-card-title>HIIT Workout</mat-card-title>
      <mat-card-subtitle fxLayout=row fxLayoutAlign="center center">
        Pick from a variety of activities and challenge yourself against the clock.
      </mat-card-subtitle>

      <mat-card-content fxLayoutAlign="center">
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>

        <section fxLayout="column" *ngIf="!(isLoading$ | async) && availableExercises$ | async">
          <img class="training-image"
               src="../../../../assets/img/fitness-center-black-18dp.svg"
               alt="Training Illustration">
          <mat-form-field>
            <mat-label>Exercise</mat-label>
            <mat-select ngModel name="exercise" required>
              <mat-option *ngFor="let exercise of availableExercises$ | async" [value]="exercise.id">
                {{exercise.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>

      </mat-card-content>

      <mat-card-actions *ngIf="!(isLoading$ | async)" fxLayoutAlign="center">
        <button *ngIf="availableExercises$ | async"
                mat-button
                type="submit"
               [disabled]="exerciseForm.invalid">
          Start
        </button>
        <button *ngIf="!(availableExercises$ | async)"
                mat-button
                type="button"
        (click)="fetchExercises()">
          Fetch Again
        </button>
      </mat-card-actions>


    </mat-card>
  </form>


</section>



